.profile__info-area {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .profile__info-area {
    flex-direction: column;
    justify-content: center;
  }
}
