.profile__editbtn {
  width: 24px;
  height: 24px;
  margin-top: 20px;
  margin-left: 25px;
  align-self: flex-start;
  border: 1px solid white;
  background-color: black;
  background-image:url('../../../images/edit.png');
  object-fit:contain;
  background-repeat:no-repeat;
  background-position: center;
}

@media screen and (max-width: 420px) {
  .profile__editbtn{
margin-left: 10px;
height: 16px;
width:16px;
}