@import url("./__logo/header__logo.css");
.header {
  margin: 0;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  min-height: 74px;
  margin-top: 45px;
}

@media screen and (max-width: 940px) {
  .header {
    margin: min(19px, 5%);
  }
}

@media screen and (max-width: 420px) {
  .header {
    margin: 0;
  }
}
