.profile__title {
  padding-top: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .profile__title {
    padding-top: 14px;
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }
}
