.profile__info {
  text-align: left;
}

@media screen and (max-width: 800px) {
  .profile__info {
    font-size: 38px;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .profile__info {
    text-align: center;
  }
}
