.grid__image_active {
  display: block;
  position:relative;
  margin-top:90px;
  border-radius: 0;
  max-height:540px;
}


@media screen and (max-width: 450px) {
  .grid__image_active {
    max-width: 240px;
    height:auto;
  }
